node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Environment variables set by package.json scripts
/PORT
/CONTRACT_ADDRESS